<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>
    <Appenders>
        <File name="jsonFile" fileName="logs/jsonFile.log">
            <BurstFilter level="FATAL" rate="16" maxBurst="100"/>
            <JsonLayout/>
        </File>
        <File name="consoleFile" fileName="logs/consoleFile.log">
            <BurstFilter level="FATAL" rate="16" maxBurst="100"/>
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n"/>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %C (%F:%L) - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level = "trace">
            <AppenderRef ref="Console" />
            <AppenderRef ref="jsonFile" />
            <AppenderRef ref="consoleFile" />
        </Root>
    </Loggers>
</Configuration>